init_config:

instances:
  - host: localhost
    port: 5432
#    username: my_username
#    password: my_password
#    dbname: db_name
#    ssl: False
#    use_psycopg2: False # Force using psycogp2 instead of pg8000 to connect. WARNING: psycopg2 doesn't support ssl mode.
